@import 'tailwindcss';

@theme{
  --font-poppins : 'Poppins', monospace;
  --bg-color: #0b0f1a;
  --primary-text: #e5e7eb;
  --glow-col: #22d3ee;
  --secondary-col: #38bdf8;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Bold.ttf') format('.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Regular.ttf') format('.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-SemiBold.ttf') format('.ttf');
}

